<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />
        <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script
            src="https://apis.google.com/js/client:platform.js?onload=start"
            async
            defer
        ></script>
        <script>
            function start() {
                gapi.load("auth2", function() {
                    auth2 = gapi.auth2.init({
                        client_id:
                            "261985746404-irbpgrk2oupvdetqgjgue4jq7nmaj1gp.apps.googleusercontent.com"
                    });
                });
            }
        </script>
        <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
    </head>

    <body style="background-color: #eee;">
        <div class="container pt-5">
            <div class="card p-3 text-center">
                <!-- GOOGLE PLUS SIGN IN BUTTON-->
                <button class="btn btn-primary" id="signinButton">
                    Google Signin
                </button>
                <div id="result"></div>
            </div>
        </div>

        <script>
            $("#signinButton").click(function() {
                function signInCallback(authResult) {
                    if (authResult["code"]) {
                        $("#signinButton").attr("style", "display: none");
                        $.ajax({
                            type: "POST",
                            url: "/gauth?state={{STATE}}",
                            headers: {
                                "X-Requested-With": "XMLHttpRequest"
                            },
                            contentType:
                                "application/octet-stream; charset=utf-8",
                            success: function(result) {
                                $("#result").html(
                                    "<p>Login Successful!</p>" +
                                        "<p><strong>" +
                                        result +
                                        "</strong></p>" +
                                        "<p>Redirecting...</p>"
                                );
                                setTimeout(function() {
                                    window.location.href = "/";
                                }, 2000);
                            },
                            processData: false,
                            data: authResult["code"]
                        });
                    } else {
                        // handle error
                        console.log(
                            "There was an error: " + authResult["error"]
                        );
                        $("#result").html(
                            "Failed to make a server-side call. Check your configuration and console."
                        );
                    }
                }
                auth2.grantOfflineAccess().then(signInCallback);
            });
        </script>
        <!--END GOOGLE PLUS SIGN IN BUTTON -->
    </body>
</html>
