{% extends "main.html" %} {% block content %} {% include "nav.html" %}
<div class="container pt-5">
    <h1>
        {% if mediatype %}{{ mediatype.name }}{% endif %} {% if mediatype and
        mediaformat %}/{% endif %} {% if mediaformat %}{{ mediaformat.name }}{%
        endif %}
    </h1>

    {% if media %}
    <div class="card-columns">
        {% for m in media %}
        <div class="card" style="width:18rem;">
            {% if m.poster_url != '' %}
            <img src="{{ m.poster_url }}" class="card-img" />
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">
                    {{ m.title }} {%if m.year != '' %} ({{ m.year }}){% endif %}
                </h5>
                <p class="card-text">{{ m.rating }} | {{ m.runtime }}</p>
                {% if m.imdb_id != '' %}
                <a
                    class="btn btn-imdb"
                    href="https://www.imdb.com/title/{{ m.imdb_id }}"
                    target="_blank"
                    >IMDb Page</a
                >
                {% endif %}
            </div>
            {% if session['user_id'] == m.created_user_id %}
            <div class="card-footer">
                <a class="btn" href="{{url_for('editMedia', media_id=m.id)}}"
                    >Edit Media</a
                >
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>You are not currently tracking any media of this type.</p>
</div>
{% endif %} {% endblock %}
