{% extends "main.html" %} {% block content %} {% include "nav.html" %}
<div class="container pt-5">
    <h1>
        {% if mediatype %}{{ mediatype.name }}{% endif %} {% if mediatype and
        mediaformat %}/{% endif %} {% if mediaformat %}{{ mediaformat.name }}{%
        endif %}
    </h1>

    {% if media %} {% for m in media %}

    <div class="card mb-3 mr-3 float-left" style="width: 400px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="{{ m.poster_url }}" class="card-img" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ m.title }}</h5>
                    <div class="row">
                        <div class="col">
                            Year: <strong>{{ m.year }}</strong>
                        </div>
                        <div class="col">
                            Rating: <strong>{{ m.rating }}</strong>
                        </div>
                    </div>
                    <div class="row">
                        <a href="{{url_for('editMedia', media_id=m.id)}}"
                            >Edit Media</a
                        >
                        {% if m.imdb_id != '' %}
                        <a
                            href="https://www.imdb.com/title/{{ m.imdb_id }}"
                            target="_blank"
                            >IMDB Page</a
                        >
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %} {% else %}
    <p>You are not currently tracking any media of this type.</p>
</div>
{% endif %} {% endblock %}
