<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="/" class="navbar-brand"
            ><i class="fas fa-home"></i> Media Manager</a
        >
        <ul class="navbar-nav">
            {% if 'username' not in session %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('login') }}">Login</a>
            </li>
            {% else %} {% if request.path != "/media/new/" %}
            <li class="nav-item">
                <a
                    class="nav-link btn btn-primary"
                    href="{{ url_for('createMedia') }}"
                    >Add Media</a
                >
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}"
                    >Logout <img src="{{ session["picture"] }}"
                    class="user_picture" />
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
