{% extends "main.html" %} {% block content %} {% include "nav.html" %}
<div class="container pt-5">
    <h2 class="text-center mt-4 mb-4">Browse by Type</h2>
    <div class="d-flex justify-content-around">
        {% for mediatype in mediatypes %}
        <div class="card text-center" style="width: 10rem;">
            <div class="card-body p-0">
                <a
                    class="stretched-link btn btn-info w-100 pt-3"
                    href="{{url_for('listMediaByType', mediatype_id = mediatype.id)}}"
                >
                    <i class="fas {{ mediatype.fa_icon_class }} fa-5x"></i>
                    <h5 class="card-title">{{ mediatype.name }}</h5>
                </a>
            </div>
            <div class="card-footer text-center">
                <strong>{{ mediatype.media_count }}</strong>
            </div>
        </div>
        {% endfor %}
    </div>

    <h2 class="text-center mt-4 mb-4">Browse by Format</h2>
    <div class="d-flex justify-content-around">
        {% for mediaformat in mediaformats %}
        <div class="card text-center" style="width: 10rem;">
            <div class="card-body p-0">
                <a
                    class="stretched-link btn btn-info w-100 pt-3"
                    href="{{url_for('listMediaByFormat', mediaformat_id = mediaformat.id)}}"
                >
                    <i class="fas {{ mediaformat.fa_icon_class }} fa-5x"></i>
                    <h5 class="card-title">{{ mediaformat.name }}</h5>
                </a>
            </div>
            <div class="card-footer text-center">
                <strong>{{ mediaformat.media_count }}</strong>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
